.container_botoes_principais {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.container_main {
  grid-area: main;
}

.container_main {
  min-height: 89vh;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}



@media (min-width: 390px) {
  .container_main {
    min-height: 87.5vh;
  }
  .container_botoes_principais {
    flex-wrap: wrap;
  }
  .container_botoes_principais button{
    width: 100px;
    font-size: 1.1rem;
  }
}

@media (min-width: 430px) {
  .container_main {
    min-height: 83vh;
  }
}

@media (min-width: 576px) {
  .container_main {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container_main {
    max-width: 720px;
  }
  .container_botoes_principais{
    flex-direction: row;
  }
  .container_botoes_principais button{
    font-size: 1.2rem;
  }

  .container_main {
    min-height: 76vh;
  }
}

@media (min-width: 820px) {
  .container_main {
    min-height: 65.6vh;
  }
}

@media (min-width: 992px) {
  .container_main {
    max-width: 960px;
  }

  .container_main {
    min-height: 56.7vh;
  }
}


@media (min-width: 1200px) {
  .container_main {
    max-width: 1140px;
  }
  .container_main {
    min-height: 87vh;
  }

}

@media (min-width: 1400px) {
  .container_main {
    max-width: 1320px;
    min-height: 89vh;
  }
}

/* 
    Validar nos dispositivos abaixo com a proporção em 100%:
    -Iphone 12 pro (390px)
    -Iphone 14 pro max (430px)
    -Ipad Mini (768px)
    -Ipad Pro (1024px)
    -Nest HUB Max (1280px)
*/