.container_rodape {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: 100%;
    background-color: steelblue;
    border-top: solid black 1px;
    color: black;
  }

.container_rodape { grid-area: footer; }

.icones {
    margin-left: 5px;
}

.icones:hover {
    filter: invert(70%);
}

.descricao {
    font-size: 1.2em;
}


/* 
    Validar nos dispositivos abaixo com a proporção em 100%:

    -Iphone 12 pro (390px)
    -Samsung galaxy S20 (412px)
    -Iphone 14 pro max (430px)
    -Ipad Mini (768px)
    -Ipad Pro (1024px)
    -Nest HUB Max (1280px)
*/