.container_rodape {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: 100%;
    background-color: steelblue;
    border-top: solid black 1px;
    color: black;
  }

.container_rodape { grid-area: footer; }

.descricao {
    font-size: 1.2em;
}

.icones:hover{
    filter: invert(70%);
}

.icones{
    margin-left: 5px;
    color: black;
}

#instagram{
    font-size: 1.5rem;
}

#email{
    font-size: 1.7rem;
}